# ملفات البيئة الافتراضية
vend/
.env

# ملفات السجلات
logs/
*.log

# ملفات بايثون المترجمة
__pycache__/
*.pyc

# ملفات النظام التشغيلي
.DS_Store
Thumbs.db

# ملفات خاصة بالمستخدم أو البيئة المحلية
*.sqlite3
*.csv
*.pkl
*.mmdb
vt_cache.json

# ملفات مؤقتة
*.tmp
*.temp
